#feature {
  color: blue;
}
.test::before {
  content: "Added this one: ";
}
.test:hover {
  background-color: red:
}
.test::selection {
  background-color: red;
  color: blue;
}

@media (max-width: 500px) {
    body {
      background-color: red;
    }
}
@media (min-width: 500px) {
  body {
    background-color: cyan;
  }
}
